@import '../../assets/styles/@variables.less';
@import '../../assets/styles/mixins.less';

.story {
    //display:table;
    width: 100%;
    height: 100%;

    .itemsWrapper, .detailsWrapper {
        //display: table-cell;
        float:left;
    }

    .itemsWrapper {
        width: 70%;
        padding: 3rem;
    }
    .detailsWrapper {
        width: 30%;
    }
}

.keyCol {
    width: 10%;
}

.defCol {
    //width: 22.5%;
}
