@import '../assets/styles/@variables.less';
@import '../assets/styles/mixins.less';

.app {
    .gradient-bg(75deg, @brand-primary, lighten(@brand-primary, 30%));
    color: white;
    font: 200% @font-heading;
    padding: 1em;
}
