@import '../assets/styles/@variables.less';
@import '../assets/styles/mixins.less';

.menuSection {
    //.gradientBg(75deg, @brand-primary, lighten(@brand-primary, 30%));
    background: @brand-primary url(https://pasientsky.no/img/clouds-1188df6.svg) fixed;
    background-size: cover;
    color: white;
    font: 300 200% @font-heading;

    padding: 1em 3rem 0.6em;
    border-bottom: 1px solid white;
}

.menuToggle {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1em;
    right: 3rem;
    cursor: pointer;

    &.on {
        .one {
            transform: rotate(45deg) translate(0.5rem, 0.5rem);
        }

        .two {
            opacity: 0;
        }

        .three {
            transform: rotate(-45deg) translate(0.5rem, -0.5rem);
        }
    }
}

.one,
.two,
.three{
    width: 100%;
    height: 0.2rem;
    background: white;
    margin: 0.5rem auto;
    backface-visibility: hidden;
    transition-duration: 0.3s;
}

nav ul{
    list-style: none;
    margin: 1em auto;
    text-align: center;

    &.hidden {
        display: none;
    }

    a {
        transition-duration: 0.5s;
        text-decoration: none;
        color: white;
        font-size: 3em;
        line-height: 1.5;
        width: 100%;
        display: block;
        &:hover {
            color: fade(white, 50%);
        }
    }
}

.menuSection {
    &.on {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
    }
}

.patientSection {
    padding: 0.5rem 3rem;
    background: @gray-light;

    .patientName {
        font-size: 1.2rem;
    }
    .patientId {
        color: @gray;
        font-weight: bold;
        font-size: 0.9rem;
    }
}