@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Ubuntu+Mono:400');

@gray-base:             #000;
@gray-darker:           darken(@gray-dark, 50%);
@gray-dark:             #3e3f40;
@gray:                  #666;
@gray-light:            #f7f7f7;
@gray-lighter:          #f5f5f5;

@bg:                    #f5f5f5;

@brand-primary:         #54c5d0;
@brand-success:         #86BD0B;
@brand-info:            #0673A6;
@brand-warning:         #F7EF37;
@brand-danger:          #F53A52;

@font-paragraph:        'Ubuntu Mono', sans-serif;
@font-heading:          'Lato', sans-serif;
