@import "@variables";
@import "mixins";

form {
    max-width: 40rem;

    fieldset {
        border: 0;
        background-color: @gray-light;
        padding: 2rem;
    }

    legend {
        font-size: 120%;
        text-align: center;
        display: block;
        width: 100%;
        padding: 1.5em 0.6em 0.6em;
        color: white;
        background-color: @brand-primary;
    }

    legend, label, input[type="submit"] {
        .accentText;
    }

    input, textarea {
        .radiusShadowDefault;
        border: 1px solid white;
        display: block;
        width: 100%;
        outline: 0;
        margin: 0.5em 0 1.5em;
        font-family: @font-paragraph;

        &:focus {
            .boxShadow(fade(@brand-primary, 50%)) !important;
            border: 1px solid @brand-primary;
        }
    }

    input[type="submit"], button {
        .buttonVariant(white, @brand-primary, @brand-primary);
        cursor: pointer;
    }

    textarea {
        height: 5em;
    }
}