@import '@variables';
@import 'mixins';


html {
    font: 15px @font-paragraph;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: @bg;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-heading;
    font-weight: 300;
}
